<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1713960120.4876618</real>
	<key>UUID</key>
	<string>D8A57131-DE2B-4F99-B857-A28D8DE8D785</string>
</dict>
</plist>
