<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1713928302.9377961</real>
	<key>UUID</key>
	<string>3E681B90-9EA9-4F05-8781-F64A5AFBF562</string>
</dict>
</plist>
